body, html{
  height: 100%;
}

/* Define style for the Leaflet map */

.map {
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Define flex box styling to center tables in div containers. */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


/* Set fonts */

body, label, input, button, select { 
  font-family: 'Helvetica', Helvetica;
  font-weight: 200;
}

h1, h2, h3, h4 { font-weight: 400; }

/* Define style for info panel */

#info {
  outline-style: none;
  background-color: #333;
  padding: 0 10px 10px 10px;
  opacity: 0.8;
}